.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 24px;
    gap: 20px;
    font-weight: 600;
    user-select: none;
}
.counter_value{
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}